body{

    background: rgb(4,3,13);
    background: linear-gradient(194deg, 
    rgba(4,3,13,1) 13%,
     rgba(113,13,79,1) 55%, 
     rgba(136,1,28,1) 100%);
	font-family: Arial, Helvetica, sans-serif;
    max-width: 940px;    
    margin: auto;
    padding: 20px;
    border-right: 3px solid rgba(122, 121, 121, 0.253);
    border-left: 3px solid rgb(122, 121, 121, 0.253);


}


h1,h2{

    text-align: center;
    border-radius: 20px;
    opacity: 76%;
}

h1{
    color: #3D3D3D;
    background-color: #E1EDF2;
    margin: 10px;
    
}

h2{
    background-color: whitesmoke;
    border-bottom: black solid;
    margin: 20px;
}

p{
    margin: 15px 20px;
    color: aliceblue;
}

.image{

	max-width: 300px;
    max-height: 250px;
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    background-color: whitesmoke;
    padding: 15px;

}

#logo{
    
    min-width: 100px;
    min-height: 90px;

    max-width: auto;
    max-height: auto;

    margin: 0px auto 60px ;
    display: block;
    padding: 10px ;

}



figure {
  display: flex;
  flex-flow: column;
  padding: 20px;
  max-width: 300px;
  margin: auto;

}

figcaption {

  color: aliceblue;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: left;
  margin-top: 10px;
}

ul.separator{
    list-style: none;
    padding: 1;
    width: 80%;
    margin-left: 5%;
}

ul.separator li{
    padding: .6em 0;
    border-bottom: 1px solid #CCC;
    color: aliceblue;
}
ul.separator li:last-child{
    border-bottom: 0;
}