@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
     /* Primary  Colors */
     --verde-principal: #00856F;
     --verde-hover: #00453a;
     --verde-claro: #DCE9E2;
     --verde-claro2: #F7F9F9;
     --beige: #FFFAF1;
     /* Secondary colors */
     --cinza-titulo: #061800;
     --cinza-paragrafo: #3a4735;
     --branco: #3E3E3E;
   
}

/* Font Sizes

Desktop: 14, 16, 18, 24, 40, 48 e 52

Mobile: 14, 16, 18, 24, 30, 34 e 48

*/
*{
    @apply font-DMsans;
}
.cabecalho{
    @apply bg-verde-claro;
}
.cabecalho__nav{
    @apply flex justify-between items-center bg-verde-principal px-[7rem] py-[1rem];
}
.nav__logo{
    @apply text-[24px] text-white;
}
.logo__span{
    @apply font-bold;
}
.nav__menu{
    @apply flex gap-[2rem] text-gray-400;
}
.secondary__button{
    @apply border-[1px] rounded-[8rem] py-[.4rem] px-[1.5rem] uppercase text-white text-[14px] font-bold;
}

